<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('style.css') }}">
    {% block link %}{% endblock %}
    <title>{% block metaTitle %}{% endblock metaTitle %}</title>

</head>
<body>

<header >
    <div class="header">
        <div class="w20">
            <a href="{{ path('admin_home') }}">
                <img class="w35" src="{{ asset('PinClipart.com_web-design-clipart_3394370.png') }}">
            </a>
        </div>
        <div class="w60">
            <div class="w30">
                <a href="{{ path('admin_article_list') }}">Articles</a>
            </div>
            <div class="w30">
                <a href="{{ path('admin_categorie_list') }}">Catégories</a>
            </div>
            <div class="w30">
                <a href="{{ path('admin_tag_list') }}">Étiquettes</a>
            </div>
        </div>
        <div class="w20">
            <a href="{{ path('app_login') }}">
                <img src="{{ asset('hamburger-menu-icon-png-white-14.jpg') }}" class="w35">
            </a>
        </div>
    </div>
</header>

<main class="main">
    {% block main %}
    {% endblock main %}
</main>

<footer class="footer">
    {% block footer %}
    {% endblock footer%}
</footer>


<script>
    function myFunction() {
        setTimeout(function(){ document.querySelector(".flash-notice").style.display = "none";}, 5000);
    }
    myFunction();
</script>
</body>
</html>