{% extends 'admin/base.html.twig' %}

{% block metaTitle %}
    Ajout d'étiquettes
{% endblock metaTitle %}

{% block main %}
    <div class="container-fluid">
        <div class="row tag w95">
            <h1>Vous pouvez rajouter une étiquette</h1>
            {# <form action="{{ path('admin_tag_insert') }}" method="post" class="form">
                <input type="text" name="title" class="input" placeholder="Entrer le titre de l'étiquette">
                <input type="text" name="color" class="input" placeholder="Entrer la couleur de l'étiquette">
                <input type="submit" value="Ajouter" class="button">
            </form> #}
            {{ form_start(tagForm) }}

                <div>
                    {{ form_label(tagForm.title, 'Titre :', {'label_attr' : {'class'  : 'label'}}) }}
                </div>
                <div>
                    {{ form_widget(tagForm.title, {'attr' : {'class'  : 'input', 'placeholder' : 'Titre de l\'étiquette'}}) }}
                </div>

                <div>
                    {{ form_errors(tagForm.title) }}
                </div>


                <div>
                    {{ form_label(tagForm.color, 'Couleur de l\'étiquette :', {'label_attr' : {'class'  : 'label'}}) }}
                </div>

                <div>
                    {{ form_widget(tagForm.color, {'attr' : {'class'  : 'input', 'placeholder' : 'Couleur de l\'étiquette'}}) }}
                </div>

                <div>
                    {{ form_errors(tagForm.color) }}
                </div>


                <div>
                    {{ form_widget(tagForm.submit, {'attr' : {'class'  : 'button'}, 'label': 'Enregister'}) }}
                </div>
            {{ form_end(tagForm) }}
        </div>
    </div>
{% endblock main %}

{% block footer %}
    <p>
        Merci d'ajouter des étiquettes.
    </p>
{% endblock footer %}