{%  extends 'base.html.twig' %}

{% block metaTitle %}
    Les articles du journal
{% endblock metaTitle %}

{% block main %}
    <div class="container">
        {% for article in articles %}
                <div class="row">
                    <h1>
                        <a href="{{ path('articleShow', {'id' : article.id}) }}" style="color: {{ article.tag.color }}">{{ article.title }}</a>
                    </h1>
                    <h2>
                       Ecrit le :  {{ article.createdAt | date('d-m-y') }}
                    </h2>
                </div>
        {% endfor %}
    </div>

{% endblock main %}

{% block footer %}
        <a href="{{ path('articleAdd') }}" class="add">Ajouter des articles</a>
{% endblock footer %}