{% extends 'base.html.twig' %}

{% block metaTitle %}
    Ajout d'articles
{% endblock metaTitle %}

{% block main %}
    <div class="container-fluid">
        <div class="row tag w95">
            <h1>Vous pouvez rajouter un article</h1>
            <form action="{{ path('articleInsert') }}" method="post" class="form">
                <input type="text" name="title" class="input" placeholder="Entrer le titre de l'article">
                <textarea name="content" id="content" cols="30" rows="10" class="input" placeholder="Entrer le contenu de l'article"></textarea>
                <select name="is_published" id="" class="input">
                    <option value="">Choissisez un statut</option>
                    <option value="0">Non Publié</option>
                    <option value="1">Publié</option>
                </select>
                <select name="id_category" id="" class="input">
                    <option value="">Choissisez une catégorie</option>
                    {% for category in categories %}
                        <option value="{{ category.id}}">{{ category.title }}</option>
                    {% endfor %}
                </select>
                <select name="id_tag" id="" class="input">
                    <option value="">Choissisez une étiquette</option>
                    {% for tag in tags %}
                        <option value="{{ tag.id }}">{{ tag.title }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Ajouter" class="button">
            </form>
        </div>
    </div>
{% endblock main %}

{% block footer %}
    <p>
        Merci d'ajouter des articles.
    </p>
{% endblock footer %}