{% extends 'base.html.twig' %}

{% block metaTitle %}
    La catégorie n°{{ categorie.id }}
{% endblock metaTitle %}

{% block main %}
    <div class="container-fluid">
    <div class="row">
        <h1>{{ categorie.title }}</h1>
        <h2>{{ categorie.description }}</h2>
        <h2 class="underligne">Liste des comics : </h2>
        {% for article in categorie.articles %}
            <a href="{{ path('articleShow', {'id' : article.id}) }}"><h3 style="color: {{ article.tag.color }}">{{ article.title }}</h3></a>
        {% endfor %}
    </div>
    </div>
{% endblock main %}


{% block footer %}
        <a href="{{ path('categoryDelete', {'id' : categorie.id} ) }}" class="delete">Supprimer la catégorie</a>
        <a href="{{ path('categoryUpdate', {'id' : categorie.id} ) }}" class="update">Modifier la catégorie</a>
{% endblock footer %}