{% extends 'base.html.twig' %}

{% block metaTitle %}
    Le tag n°{{ tag.id }}
{% endblock metaTitle %}

{% block main %}
    <div class="container-fluid">
        <div class="row tag">
            <h1>{{ tag.title }}</h1>
            <h2 style="color : {{ tag.color }}">
                Couleur du tag :  {{ colors[tag.color] }}
            </h2>
            <h2 class="underligne">Liste des comics : </h2>
            {% for article in tag.articles %}
                <a href="{{ path('articleShow', {'id' : article.id}) }}"><h3 style="color : {{ article.tag.color }}">{{ article.title }}</h3></a>
            {% endfor %}
        </div>
    </div>
{% endblock main %}

{% block footer %}
    <a href="{{ path('tagDelete', {'id' : tag.id} ) }}" class="delete">Supprimer l'étiquette</a>
    <a href="{{ path('tagUpdate', {'id' : tag.id} ) }}" class="update">Modifier l'étiquette</a>
{% endblock footer %}